<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Police Station</title>
    <!-- Reusing the same CSS file as login for similar styling -->
    <link rel="stylesheet" th:href="@{/css/station.css}">
</head>
<body>
<div class="container">
    <form class="form" th:action="@{/OnlineFirSystem/add-police-station}" method="post">
        <p class="title">Add Police Station</p>

        <!-- Unique Station Code Field -->
        <input type="text" name="uniqueStationCode" placeholder="UniqueStationCode" class="input" required/>

        <!-- Station Name Field-->
        <input type="text" name="stationName" placeholder="StationName" class="input" required/>

        <!-- Station Addrss Field -->
        <input type="text" name="stationAddress" placeholder="StationAddress" class="input" required/>


        <!-- Submit Button -->
        <button type="submit" class="btn">Add Police Station</button>
    </form>
</div>
</body>
</html>
